{% extends request.GET.hybrid|yesno:"mdot/base_hybrid.html,mdot/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">

    <div class="container" >

        <h2 class="mdot-subhead" id="page_header">Review App Request</h2>
        <h3>Thank You</h3>
        <p>Your acceptance of the app sponsor position for {{app}} has been recorded.</p>
        <p>UW-IT will grant developer access to the designated app manager under your sponsorship.</p>

    </div>
</div>
{% endblock %}
