<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>MDOT: {{ sponsor_netid }} App for Review </title>

<style type="text/css">
	
  .ExternalClass {width:100%;}
  .ExternalClass, .ExternalClass div, .ExternalClass font {line-height: 100%;} 
  
  body {font-size: 13px; line-height: 17px; font-family: monospace; color: #000001;}
  div {margin:20px 0;}
</style>

</head>
<body style="width:100%; margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;">

<div><strong>Please describe what UW audiences your application is targeting.</strong><br/>
{{ campus_audience }}</div>

<div><strong>Please describe how your application addresses a broad UW campus need.</strong><br/>
{{ campus_need }}</div>

<div><strong>Who is the official UW Sponsor of this app?</strong><br/>
Name: {{ sponsor_name }} | NetID: {{ sponsor_netid }} | Email: {{ sponsor_email }}</div>

<div><strong>Who will maintain the app codebase?</strong><br/>
Name: {{ dev_name }} | Email: {{ dev_email }}</div>

<div><strong><div><strong>Who do clients contact for support with your app?</strong><br/>
Name: {{ support_name }} | Email: {{ support_email }}<br/>
additional support contact: {{ support_contact }}</div>

<div><strong>What reviews have you conducted?</strong><br/>
A11y: {{ ats_review }}<br/>
UX: {{ ux_review }}<br/>
UW Brand: {{ brand_review }}</div>

<div><strong>URL for app documentation:</strong><br/>
{{ app_documentation }}</div>

<div><strong>How might we be able to review the app?</strong><br/>
{{ app_code }}</div>

<div><strong>Anything else?</strong><br/>
{{ anything_else }}</div>

</body>
</html>