MDOT: {{ sponsor_netid }} App for Review

Please describe what UW audiences your application is targeting.
{{ campus_audience }}

Please describe how your application addresses a broad UW campus need.
{{ campus_need }}

Who is the official UW Sponsor of this app?
Name: {{ sponsor_name }} | NetID: {{ sponsor_netid }} | Email: {{ sponsor_email }}

Who will maintain the app codebase?
Name: {{ dev_name }} | Email: {{ dev_email }}

Who do clients contact for support with your app?
Name: {{ support_name }} | Email: {{ support_email }}
additional support contact: {{ support_contact }}

What reviews have you conducted?
A11y: {{ ats_review }}
UX: {{ ux_review }}
UW Brand: {{ brand_review }}

URL for app documentation:
{{ app_documentation }}

How might we be able to review the app?
{{ app_code }}

Anything else?
{{ anything_else }}
