{% extends request.GET.hybrid|yesno:"mdot/base_hybrid.html,mdot/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">

    <div class="container" >

        <h2 class="mdot-subhead" id="page_header">Submit your App for Review</h2>
        <p class="article intro">Ready to submit your app for inclusion in the UW Development App Stores? Does it meet our <a href="/developers/guidelines">publishing guidelines</a>? </p>
        <p class="article intro">If so, please fill out the form below. We will review your app and let you know the next steps.</p>

        <form method="post">

            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <h3>Sponsor Form: </h3>

            {{sponsorform}}
            
            <h3>Manager Form: <h3>

            {{managerform}}

            <h3>App Form: <h3>

            {{appform}}

            <!--
                <p>
                    <label for="{{ form.campus_audience.id_for_label }}">{{ form.campus_audience.label }}
                    {% if form.campus_audience.errors %}
                        {% for error in form.campus_audience.errors %}
                         <span role="alert" class="required invalid">* <strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% else %}
                    <span class="required"><strong>* <span class="sr-only">Required</span></strong></span>
                    {% endif %}</label>
                    {{ form.campus_audience }}
                </p>
                <p>
                    <label for="{{ form.campus_need.id_for_label }}">{{ form.campus_need.label }}
                    {% if form.campus_need.errors %}
                        {% for error in form.campus_need.errors %}
                        <span role="alert" class="required invalid">* <strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% else %}
                    <span class="required"><strong>* <span class="sr-only">Required</span></strong></span>
                    {% endif %}</label>
                    {{ form.campus_need }}
                </p>
                <fieldset>
                <legend> Official UW Sponsor:</legend>
                <label for="{{ form.sponsor_name.id_for_label }}">{{ form.sponsor_name.label }}
                    {% if form.sponsor_name.errors %}
                        {% for error in form.sponsor_name.errors %}
                        <span role="alert" class="required invalid">* <strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% else %}
                    <span class="required"><strong>* <span class="sr-only">Required</span></strong></span>
                    {% endif %}</label>
                {{ form.sponsor_name }}
                <label for="{{ form.sponsor_netid.id_for_label }}">{{ form.sponsor_netid.label }}
                    {% if form.sponsor_netid.errors %}
                        {% for error in form.sponsor_netid.errors %}
                        <span role="alert" class="required invalid">* <strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% else %}
                    <span class="required"><strong>* <span class="sr-only">Required</span></strong></span>
                    {% endif %}</label>
                {{ form.sponsor_netid }}
                <label for="{{ form.sponsor_email.id_for_label }}">{{ form.sponsor_email.label }}
                    {% if form.sponsor_email.errors %}
                        {% for error in form.sponsor_email.errors %}
                        <span role="alert" class="required invalid">* <strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% else %}
                    <span class="required"><strong>* <span class="sr-only">Required</span></strong></span>
                    {% endif %}</label>
                {{ form.sponsor_email }}
                </fieldset>
                <fieldset>
                <legend> Who will maintain the app codebase?</legend>
                <label for="{{ form.dev_name.id_for_label }}">{{ form.dev_name.label }}
                    {% if form.dev_name.errors %}
                        {% for error in form.dev_name.errors %}
                        <span role="alert" class="required invalid">* <strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% else %}
                    <span class="required"><strong>* <span class="sr-only">Required</span></strong></span>
                    {% endif %}</label>
                {{ form.dev_name }}
                <label for="{{ form.dev_email.id_for_label }}">{{ form.dev_email.label }}
                    {% if form.dev_email.errors %}
                        {% for error in form.dev_email.errors %}
                        <span role="alert" class="required invalid">* <strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% else %}
                    <span class="required"><strong>* <span class="sr-only">Required</span></strong></span>
                    {% endif %}</label>
                {{ form.dev_email }}
                </fieldset>
                <fieldset>
                <legend>Who do clients contact for app support?</legend>
                <label for="{{ form.support_name.id_for_label }}">{{ form.support_name.label }}
                    {% if form.support_name.errors %}
                        {% for error in form.support_name.errors %}
                        <span role="alert" class="required invalid">* <strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% else %}
                    <span class="required"><strong>* <span class="sr-only">Required</span></strong></span>
                    {% endif %}</label>
                {{ form.support_name }}
                <label for="{{ form.support_email.id_for_label }}">{{ form.support_email.label }}
                    {% if form.support_email.errors %}
                        {% for error in form.support_email.errors %}
                        <span role="alert" class="required invalid">* <strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% else %}
                    <span class="required"><strong>* <span class="sr-only">Required</span></strong></span>
                    {% endif %}</label>
                {{ form.support_email }}
                <label for="{{ form.support_contact.id_for_label }}">{{ form.support_contact.label }}
                    {% if form.support_contact.errors %}
                        {% for error in form.support_contact.errors %}
                        <span role="alert" class="required invalid"><strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% endif %}</label>
                {{ form.support_contact }}
                </fieldset>
                <fieldset class="checkbox-list">
                <legend>What reviews have you conducted?</legend>
                <div>{{ form.ats_review }}
                {{ form.ats_review.label_tag }}</div>
                <div>{{ form.ux_review }}
                {{ form.ux_review.label_tag }}</div>
                <div>{{ form.brand_review }}
                {{ form.brand_review.label_tag }}</div>
                </fieldset>
                <p class="url-field">
                    <label for="{{ form.app_documentation.id_for_label }}">{{ form.app_documentation.label }}
                    {% if form.app_documentation.errors %}
                        {% for error in form.app_documentation.errors %}
                        <span role="alert" class="required invalid"><strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% endif %}</label>
                    {{ form.app_documentation }}
                </p>

                <p>
                    <label for="{{ form.app_code.id_for_label }}">{{ form.app_code.label }}
                    {% if form.app_code.errors %}
                        {% for error in form.app_code.errors %}
                        <span role="alert" class="required invalid">* <strong>{{ error|escape }}</strong></span>
                        {% endfor %}
                    {% else %}
                    <span class="required"><strong>* <span class="sr-only">Required</span></strong></span>
                    {% endif %}</label>
                    {{ form.app_code }}
                </p>
                <p>
                    {{ form.anything_else.label_tag }}
                    {{ form.anything_else }}
                </p>


            -->
            <p class="btn-container"><a href="/developers/" class="btn">Cancel</a>
            <input type="submit" class="btn btn-primary" name="submit" value="Submit for Review"></p>
        
        </form>
    </div>
</div>
{% endblock %}
