{% extends request.GET.hybrid|yesno:"mdot/base_hybrid.html,mdot/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">

    <div class="container" >

        <h2 class="mdot-subhead" id="page_header">Submit Your App For Review</h2>
        <h3>Thank You</h3> 
        <p class="thanks">Your response has been recorded.</p>
        <p class="thanks">Your app will be reviewed for inclusion in the UW Development App Store. The review process takes around 2 weeks.</p>
        <p class="thanks">
            The app sponsor will be notified and asked to agree to the sponsor terms and conditions. Access to the developer platform 
            will be granted after the sponsor submits the app sponsor agreement form.
        </p>


    </div>
</div>
{% endblock %}
