{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>

        <title>Mobile UW: {% block title %}{% endblock %}</title>
        {% include "mdot/includes/head.html" %}

    </head>
    <body>

        {% if not hybrid %}
        <div class="mdot-navbar" role="banner" aria-labelledby="app_header">
            <div class="container-fluid">
                <div class="uw-icon" style="background: transparent url('{% static "mdot/img/w-mini_wht.png" %}') no-repeat;"></div>
                <div class="uw-background"></div>
                <div class="brand-title"><h1 id="app_header" class="mdot-logo">
	                <a href="/" title="UW Mobile Resources">
    	                <span aria-hidden="true"><span>M</span><i class="fa fa-mobile"><span class="sr-only">o</span></i><span>bile</span></span><span class="sr-only">Mobile UW</span></a>
	            </h1></div>
            </div>
        </div>
        {% endif %}


        <div class="mdot-content" id="content" role="main" aria-labelledby="page_header">
            {% block content %}{% endblock %}
        </div>

        {% block subcontent %}{% endblock %}

        {% if not hybrid %}
        <div id="footer" class="mdot-footer" role="contentinfo" aria-label="Copyright & Legal Info">
            <div class="container">
                <div>Copyright &copy; {% now "Y" %} UW-IT ACA <span><a target="_blank" href="http://www.washington.edu/online/privacy/" {% if google_analytics %}onclick="ga('send','event','outbound','http://www.washington.edu/online/privacy/')"{% endif %} title="UW Privacy Policy">Privacy</a></span> <span><a target="_blank" href="http://www.washington.edu/online/terms/" {% if google_analytics %}onclick="ga('send','event','outbound','http://www.washington.edu/online/terms/')"{% endif %} title="UW Terms of Use">Terms</a></span></div>
            </div>
        </div>
        {% endif %}

        {% if devtools_bar %}
        <!-- devtools bar -->
        <div id="dev_toolbar">
            <span class="label label-device">
                {% if request.is_mobile %}Mobile:
                    {% if request.is_ios %}iOS
                    {% elif request.is_android %}Android
                    {% elif request.is_windows_phone %}Windows{% endif %}
                {% elif request.is_tablet %}Tablet:
                    {% if request.is_ios %}iOS
                    {% elif request.is_android %}Android
                    {% elif request.is_windows_phone %}Windows{% endif %}
                {% else %}Desktop{%endif %}
            </span>
            <span class="label label-fold">The fold</span>
        </div>
        <script src="{% static "vendor/js/aca-devtools.min.js" %}"></script>
        {% endif %}



    </body>
</html>
