{% extends "mdot/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- carousel -->
<div class="mdot-feature">
		
        <div style="background:#9b59b6; color:#fff;">
            <div class="container">
	           
              <h2>YOUR BUNDLE</h2>
              <p style="color:#222;">featured resources bundled for you... based on combination of role and categories</p>
              <ul>                      
                <li><a href="//my.uw.edu" style="background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('//c1.staticflickr.com/1/189/444881000_bba92e585c_b.jpg'); background-size:cover;">MyUW <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="" style="background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('//c1.staticflickr.com/3/2745/4167112238_922952effd_b.jpg'); background-size:cover;">Canvas <span>Android</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Library <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Scout <span>iOS</span></a><span>Find anything on campus... buildings, study spaces, restaurants and coffee!</span></li>
                <li><a href="">Directory <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
              </ul>
            </div>
        </div>
        
        <div style="background: #e74c3c; color:#fff;">
            <div class="container">
              <h2>COURSE BUNDLE</h2>
              <p style="color:#222;">custom bundle tailored to a specific course students are taking</p>
              <ul>    
                <li><a href="">Mobile Resource <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
              </ul>
            </div>
        </div>
        
        <div style="background: #27ae60; color:#fff;">
            <div class="container">
              <h2>FAVORITE BUNDLE</h2>
              <p style="color:#222;">custom bundle managed by the user</p>
              <ul>    
                <li><a href="">Mobile Resource <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
              </ul>
            </div>
        </div>
      </div> 
</div>

<div class="container">
    
      <!-- Example row of columns -->
      <div class="row">
	      
	    <p class="text-danger col-md-12">bundles by sub-roles</p>
	      
        <div class="col-md-4 mdot-bundle">
            <h2>International students</h2>
            <ul>    
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>ios</span></a></li>
                <li><a href="">Mobile Resource <span>android</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>desktop only</span></a></li>
                <li><a href="">Mobile Resource <span>desktop only</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
            </ul>
        </div>
        <div class="col-md-4 mdot-bundle">
          <h2>First-year</h2>
            <ul>    
                <li><a href="">Mobile Resource <span>desktop only</span></a></li>
                <li><a href="">Mobile Resource <span>desktop only</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>ios</span></a></li>
                <li><a href="">Mobile Resource <span>android</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>desktop only</span></a></li>
            </ul>
       </div>
        <div class="col-md-4 mdot-bundle">
          <h2>Student employees</h2>
            <ul> 
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>ios</span></a></li>
                <li><a href="">Mobile Resource <span>android</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>   
                <li><a href="">Mobile Resource <span>desktop only</span></a></li>
                <li><a href="">Mobile Resource <span>desktop only</span></a></li>
                <li><a href="">Mobile Resource <span>web</span></a></li>
            </ul>
        </div>
      </div>
    
    <hr>
    
    <div class="row">
	    
	    <p class="text-danger col-md-12">bundled by topic based on specific roles</p>
	    
        <div class="col-md-4">
            <h2>Teaching</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
        </div>
        <div class="col-md-4">
          <h2>Studying</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
       </div>
       <div class="col-md-4">
          <h2>Collaborating</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
       </div>
    </div>
    
    <hr>    
    
    <div class="row">
	    
	    <p class="text-danger col-md-12">bundled by general topics</p>
	    
        <div class="col-md-4">
            <h2>News</h2>
            <ul>    
                <li><a href="">UW Today</a></li>
                <li><a href="">The Daily</a></li>
            </ul>
        </div>
        <div class="col-md-4">
          <h2>Husky Sports</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
       </div>
       <div class="col-md-4">
          <h2>Social</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
       </div>
    </div>
    
    <hr>      
      
    <div id="footer">
        <p>Copyright &copy; {% now "Y" %} UW-IT ACA <span><a href="http://www.washington.edu/online/privacy/">Privacy</a></span> <span><a href="http://www.washington.edu/online/terms/">Terms</a></span></p>
    </div>
      
</div> <!-- /container -->
    
{% endblock %}
