{% extends "mdot/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- carousel -->
<div class="mdot-carousel">
		
        <div style="background:#9b59b6; color:#fff;">
            <div class="container">
	           
              <h2>STUDENT BUNDLE</h2>
              <p style="color:#222;">featured resources bundled for student role</p>
              <ul>                      
                <li><a href="//my.uw.edu" style="background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('//c1.staticflickr.com/1/189/444881000_bba92e585c_b.jpg'); background-size:cover;">MyUW : web</a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="" style="background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('//c1.staticflickr.com/3/2745/4167112238_922952effd_b.jpg'); background-size:cover;">Canvas : Android</a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Library : web</a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Scout : iOS</a><span>Find anything on campus... buildings, study spaces, restaurants and coffee!</span></li>
                <li><a href="">Directory : web</a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
              </ul>
            </div>
        </div>
        
        <div style="background: #27ae60; color:#fff;">
            <div class="container">
              <h2>FACULTY BUNDLE</h2>
              <p style="color:#222;">featured resources bundled for faculty role</p>
              <ul>    
                <li><a href="">Mobile Resource</a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource</a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource</a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource</a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
              </ul>
            </div>
        </div>
                
        <div style="background: #e67e22; color:#fff;">
            <div class="container">
              <h2>STAFF BUNDLE</h2>
              <p style="color:#222;">featured resources bundled for staff role</p>
              <ul>    
                <li><a href="">Mobile Resource</a><span>Feature description... askjdf asdfkl jasdfjk asjasdf sadf askdfs jas askd l asdfkj</span></li>
                <li><a href="">Mobile Resource</a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource</a><span>Feature description... askjdf asdfkl jasdfjk</span></li>
                <li><a href="">Mobile Resource</a><span>Feature description... askjdf asdfkl jasdfjkdsfa sdaf asfd asdf lasd</span></li>
                <li><a href="">Mobile Resource</a><span>Feature description... askjdf asdfkl jasdfjk asdfasf</span></li>
              </ul>
            </div>
        </div>
      </div>
    
</div>

<div class="container">
    
      <!-- Example row of columns -->
      <div class="row">
	      
	    <p class="text-danger col-md-12">bundles by sub-roles</p>
	      
        <div class="col-md-4">
            <h2>International students</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
        </div>
        <div class="col-md-4">
          <h2>Research faculty</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
       </div>
        <div class="col-md-4">
          <h2>Student employees</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
        </div>
      </div>
    
    <hr>
    
    <div class="row">
	    
	    <p class="text-danger col-md-12">bundled by topic based on specific roles</p>
	    
        <div class="col-md-4">
            <h2>Teaching</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
        </div>
        <div class="col-md-4">
          <h2>Studying</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
       </div>
       <div class="col-md-4">
          <h2>Collaborating</h2>
            <ul>    
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
                <li><a href="">Mobile Resource</a></li>
            </ul>
       </div>
    </div>
    
    <hr>         
      
    <div id="footer">
        <p>Copyright &copy; {% now "Y" %} UW-IT ACA <span><a href="http://www.washington.edu/online/privacy/">Privacy</a></span> <span><a href="http://www.washington.edu/online/terms/">Terms</a></span></p>
    </div>
      
</div> <!-- /container -->
    
{% endblock %}
