# Rename this file to .env in the same location as docker-compose.yml to set
# these values for your local build.

GOOGLE_ANALYTICS_KEY=my-ga-tracking-id
RUNSERVER_PORT=8000
BUNDLE_ANALYZER_PORT=8888

AUTH=SAML_MOCK
# MDOT RestClient
# RESTCLIENTS_MDOT_DAO_CLASS=Live
# RESTCLIENTS_MDOT_HOST=http://localhost:8000/


