/*** desktop ***/

.mdot-navbar { font-size: 14px; }

.mdot-feature { 
    
    .mdot-feature-group { 
                    
        .mdot-feature-item { height: 250px; 
            
            .mdot-resource-link { height: 160px; 
                
                .mdot-resource-name { position: static; font-size: 18px; }
            }
            .mdot-resource-desktop { color: #666;  font-size: 12px; display: block; border-top:solid 1px #eee; padding-top: 5px; 
                a { text-decoration: none; margin-left: 8px; }
                a:nth-child(1) { margin-left: 0; }
            }
        }
    }
                
}

.mdot-sub-content {
    select { width: auto; }
}