/*** desktop ***/

.mdot-navbar {  }

.mdot-feature {

    .mdot-feature-group {

        .mdot-feature-item { height: 280px;

            .mdot-resource-link { height: 160px; color: #fff;

                .mdot-resource-name { /*position: static;*/ bottom: -30px; font-size: 18px; }
            }
            .mdot-resource-desktop { font-size: 12px; display: block; border-top:solid 1px #eee; padding-top: 5px;
                a { color: #b7a57a; text-decoration: none; margin-left: 8px; }
                a:nth-child(1) { margin-left: 0; }
            }

            .mdot-resource-desc { margin-top: 35px; color: #ddd; }
        }
    }

}

.mdot-categories {
    select { width: auto; }
}

.mdot-sub-content {

    .mdot-dev-link { margin-top: 0; }
}

.mdot-developers {
    h2 { font-size: 23px;}
}
