/*** mobile ***/

.mdot-sub-content { background: #444; color: #fff; min-height: 250px;
    
    select { margin-top: 2em; }
    
    h3 { text-transform: uppercase; color: #b7a57a; font-size: 13px; letter-spacing: 1px; }
    
    hr { border-style: dotted; border-color: #d9d9d9; }
    
    .mdot-resource-group { 
                
        .mdot-resource-link  { color: #fff; text-decoration: none;
            .mdot-resource-type { color: lime; text-transform: uppercase; font-size: 11px; }
        }
    }
}

.mdot-footer { background: #fff; color: #333; font-size: 12px; margin-top: 2em; }

/*** sticky navigation ***/
.stuck {
    position: fixed !important;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 9999;
    
}