@uwpurple: #4b2e83;
@gold: #b7a57a;
@lightgold: #e8e3d3;
@metgold: #85754d;
@lightgray: #d9d9d9;
@darkgray: #444;
@white: #fff;
@black: #000;

/*** mobile ***/

.mdot-feature {

}

.mdot-categories { padding-bottom: 2em; background: #fafafa;

    select { margin: 2em 0; }

    h4 { font-size: 13px; letter-spacing: 1px; color: @uwpurple; text-transform: uppercase;  }
    hr { border-color: @lightgray; border-style: dotted;  }
    
    .mdot-resource-group {

        .mdot-resource-link  { display: inline-block; line-height: 30px; text-decoration: none; 
            .mdot-resource-type { font-size: 11px; color: red; text-transform: uppercase; }
        }
    }
}

.sub-content {padding-right:0; padding-left:0; }

.mdot-sub-content { min-height: 100px; padding-top: 2em; color: @darkgray; background: @lightgray; 

    h3, h4 { font-size: 13px; letter-spacing: 1px; text-transform: uppercase; }

    .mdot-resource-group {
        .mdot-resource-link  { display: inline-block; line-height: 30px; text-decoration: none; 
            .mdot-resource-type { font-size: 11px; color: lime; text-transform: uppercase;  }
        }
    }

    .mdot-dev-link { min-height:200px; margin-top: 3em; margin-right: -10px; margin-bottom: -20px; margin-left: -10px; color: #fff; text-align: left;  background: url('//farm3.staticflickr.com/2896/14518939096_77335be4ce_b.jpg') 50% 50%; background-size:cover; 
        
        .mdot-dev-callout { position:absolute; bottom:20px; left:0; width: 80%; padding: 15px 20px; background-color: rgba(51, 0, 111, .9);  
            
            h2 { margin: 0 0 10px; font-size: 16px; color:@uwpurple; text-decoration: none; text-transform:uppercase;}
            a { color: @gold; text-decoration: underline; }
            a:focus, a:hover { color: @white; }
        }
    }
}

.mdot-developers {

    h2 { font-size: 18px; text-transform: uppercase; }
    h3 { font-size: 13px; letter-spacing: 1px; text-transform: uppercase; }
}


.mdot-footer { font-size: 12px; line-height: 60px; color: @darkgray; background: @lightgray;
    .container { position:relative; }
    span { margin-left: 10px;
        a { display: inline-block; }
    }
    hr { margin-bottom: 0; border-color: @white; border-style: dotted; }
}

/*** sticky navigation ***/
.stuck { position: fixed !important; top: 80px; right: 0; left: 0; z-index: 9999; }
