<div class="col-md-4 col-lg-3 mdot-group">
    <h3>Category 1</h3>
    <ul>    
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>ios</span></a></li>
        <li><a href="">Mobile Resource <span>android</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>desktop only</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
    </ul>
</div>
<div class="col-md-4 col-lg-3 mdot-group">
  <h3>Category 2</h3>
    <ul>    
        <li><a href="">Mobile Resource <span>desktop only</span></a></li>
        <li><a href="">Mobile Resource <span>desktop only</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>ios</span></a></li>
        <li><a href="">Mobile Resource <span>android</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>desktop only</span></a></li>
    </ul>
</div>
<div class="col-md-4 col-lg-3 mdot-group">
  <h3>Category 3</h3>
    <ul> 
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>ios</span></a></li>
        <li><a href="">Mobile Resource <span>android</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>android</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>   
        <li><a href="">Mobile Resource <span>desktop only</span></a></li>
    </ul>
</div>
<div class="col-md-4 col-lg-3 mdot-group">
  <h3>Category 4</h3>
    <ul> 
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
        <li><a href="">Mobile Resource <span>ios</span></a></li>
        <li><a href="">Mobile Resource <span>android</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>   
        <li><a href="">Mobile Resource <span>desktop only</span></a></li>
        <li><a href="">Mobile Resource <span>desktop only</span></a></li>
        <li><a href="">Mobile Resource <span>web</span></a></li>
    </ul>
</div>