<h2>FEATURED</h2>
<p style="color:#222;">featured resources bundled for you... based on combination of role and categories</p>

<div class="row list-group">                      
    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"><a href="//my.uw.edu" style="background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('//c1.staticflickr.com/1/189/444881000_bba92e585c_b.jpg'); background-size:cover;">MyUW <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></div>
    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2 "><a href="" style="background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('//c1.staticflickr.com/3/2745/4167112238_922952effd_b.jpg'); background-size:cover;">Canvas <span>Android</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></div>
    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2 "><a href="">Library <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></div>
    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2 "><a href="">Scout <span>iOS</span></a><span>Find anything on campus... buildings, study spaces, restaurants and coffee!</span></div>
    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2 "><a href="">Directory <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></div>
    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2 "><a href="">UW Today <span>web</span></a><span>Feature description... askjdf asdfkl jasdfjk</span></div>
</div>