// override variables
$nav-height: 52px;
$bar-height: 40px;
$link-color: #0069d9; //a11y blue

@use "sass:map";
@import 'axdd-components/src/assets/css/custom.scss';

// app_name custom colors
$custom-colors: (

);

// axdd-components + app_name custom colors
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/bootstrap.scss";

// additional non-bootstrap styles

.blah { color: blue; }
