{% extends "hybridize/base.html" %}
{% load staticfiles %}

{% block title %}hybrid home{% endblock %}

{% block hybrid_content %}

<ul class="soc">

{% if resources %}

    {% for resource in resources %}

    <!-- This is the featured template -->
    <li>

        <!-- mobile only -->
        <a href={% if request.is_ios and resource.has_ios %}"{{ resource.resource_links.IOS }}" {% if google_analytics %}onclick="ga('send','event','outbound','{{ resource.resource_links.IOS }}')"{% endif %}{% elif request.is_android and resource.has_and %}"{{ resource.resource_links.AND }}" {% if google_analytics %}onclick="ga('send','event','outbound','{{ resource.resource_links.AND }}')"{% endif %}{% elif request.is_windows_phone and resource.has_wip %}"{{ resource.resource_links.WIP }}" {% if google_analytics %}onclick="ga('send','event','outbound','{{ resource.resource_links.WIP }}')"{% endif %}{% else %}"{{ resource.resource_links.WEB }}"{% if google_analytics %}onclick="ga('send','event','outbound','{{ resource.resource_links.WEB }}')"{% endif %}
        {% endif %}title="Go to {{ resource.title }}" class="mdot-resource-link" style="background: #eee {% if resource.image_url %}url('{{ resource.image_url }}') center{% endif %}; background-size:cover; background-repeat: no-repeat;">



        {% if request.is_ios and resource.has_ios %}<span class="mdot-native"><i class="fa fa-apple"><span class="sr-only">IOS App</span></i></span>
        {% elif request.is_android and resource.has_and %}<span class="mdot-native"><i class="fa fa-android"><span class="sr-only">Android App</span></i></span>
        {% elif request.is_windows_phone and resource.has_wip %}<span class="mdot-native"><i class="fa fa-windows"><span class="sr-only">Windows App</span></i></span>
        {% endif %}

        </a>
         <h4 class="mdot-resource-name">{{ resource.title }}</h4>
         
    </li>
    <!-- end template -->
    {% endfor %}

{% else %}

<p>No resources available</p>

{% endif %}
</ol>

{% endblock %}
