{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'app_name/img/favicon.png' %}">
    {% render_bundle 'main' 'css' %}

</head>

<body {% if google_analytics %}data-google-analytics="{{ google_analytics }}"{% endif %} data-django-debug="{{ django_debug|lower}}">

    <!-- vue app will be injected here -->
    <div id="app"></div>
    {% render_bundle 'main' 'js' attrs='defer' %}

</body>

</html>