{% extends "mdotdevs/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">
    
    <div class="container" >
        
        <h2 class="mdot-subhead" id="page_header">Building mobile apps</h2>
        
        <h3>Things to consider</h3>
        
        <div class="row"> 
                                  
            <div class="col-md-4 article">
                <h4>Mobile web vs. Native vs. Hybrid</h4><p>Before deciding what to build, understand your options. Mobile web is the most versatile and easiest to maintain, but can be limiting if you need robust device integration. </p>
                <ul>
                    <li><a title="Socious Blog: Mobile vs. Native" href="http://blog.socious.com/the-best-mobile-online-community-options-responsive-web-design-vs-mobile-sites-vs-native-apps">Mobile web vs. Native</a></li>
                    <li><a title="Signal V Noise: Hybrid Sweet Spot" href="https://signalvnoise.com/posts/3743-hybrid-sweet-spot-native-navigation-web-content">Hybrid Sweet Spot</a></li>
                    <li><a title="SalesForce Blog: Mobile App Development Options" href="https://developer.salesforce.com/page/Native,_HTML5,_or_Hybrid:_Understanding_Your_Mobile_Application_Development_Options">Comparison of the three options</a></li>
                </ul>
            </div>
            <div class="col-md-4 article">
                <h4>Build vs. Buy</h4><p>Existing products may already solve the problems that concern your users. They might not be a perfect fit, but could provide real benefit far more quickly.  </p>
                <ul>
                    <li><a title="Harvard Business Review: Are You Solving the Right Problem?" href="https://hbr.org/2012/09/are-you-solving-the-right-problem">Define The Problem(s) You Need to Solve</a></li>
                    <li><a title="Forbes: Know When You Should Build Custom Software Over Canned Solutions" href="http://www.forbes.com/sites/chuckcohn/2014/09/15/build-vs-buy-how-to-know-when-you-should-build-custom-software-over-canned-solutions/">Build vs. Buy</a></li>
                    <li><a title="Boxes and Arrows: Understanding the Market Context" href="http://boxesandarrows.com/competitive-analysis-understanding-the-market-context/">Doing a Competitive Analysis</a></li>
                </ul>
            </div> 
            <div class="col-md-4 article">
                <h4>True Cost</h4><p>Offering a software solution is never without cost. Understand the real costs for ongoing development, maintenance, support, and communication.</p>
                <ul>
                    <li><a title="SFCD Blog: How much does it cost to make an app?" href="https://sfcd.com/blog/cost/">The Cost of an App</a></li>
                </ul>
            </div>
         
        </div>
        
        <h3>Create a successful product</h3>
        
        <div class="row"> 
            <div class="col-md-4 article">
                <h4>Solve the Right Problems, for Real Users</h4><p>Understand and prioritize your user population(s), their needs, and their goals for your software. </p>
                <ul>
                    <li><a title="Usability First: Intro to User-Centered Design" href="http://www.usabilityfirst.com/about-usability/introduction-to-user-centered-design">User-Centered Design Basics</a></li>
                    <li><a title="A List Apart: Why Every Business Needs Product Discovery" href="http://alistapart.com/article/usable-yet-useless-why-every-business-needs-product-discovery">Usable Yet Useless</a></li>
                    <li><a title="Intercom Blog: Making Things People Want" href="https://blog.intercom.io/making-things-people-want/">Making Things People Want</a></li>
                </ul>
            </div>
            <div class="col-md-4 article">
                <h4>Aim for Simplicity</h4><p> What's the simplest solution that will provide real benefit to your users?</p>
                <ul>
                    <li><a title="UX Magazine: The Experience Makes the Product, Not the Features" href="https://uxmag.com/articles/the-experience-makes-the-product-not-the-features">Understand Minimum Viable Product (MVP)</a></li>
                    <li><a title="Brad Frost: Mobile First Responsive Web Design" href="http://bradfrost.com/blog/web/mobile-first-responsive-web-design/">Mobile-First Responsive Approach</a></li>
                    <li><a title="Intercom Blog: Product Strategy Means Saying No" href="https://blog.intercom.io/product-strategy-means-saying-no/">Product Strategy Means Saying No</a></li>
                </ul>
            </div>
            <div class="col-md-4 article">
                <h4>Continuous Improvement</h4><p>Build a solid foundation, put it in front of users, and then optimize through iteration.</p>
                <ul>
                    <li><a title="Intercom Blog: Start With a Cupcake" href="https://blog.intercom.io/start-with-a-cupcake/">Start With a Cupcake</a></li>
                    <li><a title="Intercom Blog: Ways to Improve A Product" href="https://blog.intercom.io/ways-to-improve-a-product/">Ways to Improve A Product</a></li>
                </ul>
            </div>
         
        </div>
        

<h3>Development Concerns</h3>
        
        <div class="row"> 
                                  
            <div class="col-md-4 article">
                <h4>So Many Options</h4><p>Choosing the technology upon which to build is a huge step. Understand your various options.</p>
                <ul>
                    <li><a title="Smashing Magazine: Four Ways To Build a Mobile Application" href="http://www.smashingmagazine.com/2013/11/four-ways-to-build-a-mobile-app-part1-native-ios/">Four Ways To Build a Mobile Application</a></li>
                    <li><a title="Salesforce Developers: Understanding Your Mobile Application Development Options" href="https://developer.salesforce.com/page/Native,_HTML5,_or_Hybrid:_Understanding_Your_Mobile_Application_Development_Options">Understanding Development Options</a></li>
                </ul>
            </div>
            <div class="col-md-4 article">
                <h4>Frameworks and Toolkits</h4><p> Let others do some of the heavy lifting with your technology stack. </p>
                <ul>
                    <li><a title="Ionic: Create amazing apps" href="http://ionicframework.com/">Ionic Framework</a></li>
                    <li><a title="Apple: iOS Developers" href="https://developer.apple.com/ios/">Apple iOS SDK</a></li>
                    <li><a title="Android: Developer Tools" href="http://developer.android.com/sdk/index.html">Android Developer Tools</a></li>
                </ul>
            </div>
            <div class="col-md-4 article">
                <h4>Performance Tuning</h4><p>Performance is a primary concern for good user experience. Optimize your applications.</p>
                <ul>
                    <li><a title="Varvy Blog: Critical Rendering Path Explained" href="https://www.feedthebot.com/pagespeed/critical-render-path.html">What is the critical rendering path?</a></li>
                    <li><a title="Google Developers: Critical Rendering Path" href="https://developers.google.com/web/fundamentals/performance/critical-rendering-path/index?hl=en">Optimizing the Critical Rendering Path</a></li>
                    <li><a title="Ilya Grigorik: Optimizing the Critical Renderign Path for Instant Mobile Websites [video]" href="https://www.youtube.com/watch?v=YV1nKLWoARQ">Optimization for Mobile Websites [Video]  </a></li>
                </ul>
            </div>
         
        </div>


    </div>
</div>

{% endblock %}