{% extends "mdotdevs/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">
    
    <div class="container" >
        
        <h2 class="mdot-subhead" id="page_header">UW Developer Store <span class="nobreak">Publishing Process</span></h2>
        <p class="article intro">So, you have developed a native app and want to publish it under the UW Developer Store? Here is what you do next. </p>
        <ol class="trad-list process-page">
            <li class="article"><h3>Step 1</h3>Confirm that your app meets the <a href="/developers/guidelines">UW Developer Store Publishing Guidelines</a>. </li>
            <li class="article"><h3>Step 2</h3>Submit <a href="/developers/review">your application</a> for UW-IT review.
                <ul>
                    <li>UW-IT will determine if publishing guidelines are met.</li>
                    <li>A UW-IT Usability review will be scheduled.</li>
                </ul>
            </li>
            <li class="article"><h3>Step 3</h3>Fix critical issues brought up in the UW-IT Usability Review.</li>
            <li class="article"><h3>Step 4</h3>Alert UW-IT Mobile Team that your app is ready for final review.
                <ul>
                    <li>UW-IT conducts final app review.</li>
                    <li>App submitted by UW-IT to the appropriate app stores.</li>
                    <li>Publication, pending app store approval.</li>
                </ul>
            </li>
            
        </ol>
        
    </div>
</div>

{% endblock %}